@model IEnumerable<Practica2WB.Entities.ConsultaEnt>
@{
    ViewBag.Title = "ConsultaVehiculo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Vehiculos Disponibles</h4>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Cedula Vendedor</th>
                        <th>Vendedor</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Cedula</td>
                            <td>@item.Nombre</td>
                            <td>@item.Marca</td>
                            <td>@item.Modelo</td>
                            <td>@item.Precio</td>

                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

